.btn {
  display: block;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: rgb(85, 79, 232);
  transition: background-color 1s;
}

.btn:hover {
  background-color: rgb(110, 106, 235);
}

.para{
  display: block;
  margin: auto;
  color: #fff;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

.verify{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-left:auto ;
  padding-top: 12px;
  margin-right: auto;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.btn1 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 320px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: rgb(85, 79, 232);
  transition: background-color 1s;
}

.btn1:hover {
  background-color: rgb(110, 106, 235);
}