.btn
  {
    display: block;
    margin-top: 3px;
    padding: 10px;
    border-radius: 20px;
    width: 110px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(85, 79, 232);
    transition: background-color 1s;
  }

  .btn:hover{
      background-color: rgb(110, 106, 235);
  }